<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel ="tests">

<listeners>
<listener class-name ="E2EProject.TestingFramework.Listeners"/>
</listeners>

  <test name="AssertValidation">
    <classes>
      <class name="E2EProject.TestingFramework.AsssertValidation2"/>
       </classes>
  </test>
  <test name="Test">
    <classes>
      <class name="E2EProject.TestingFramework.AsssertValidation"/>
       </classes>
  </test>
  <test name="Homepage">
    <classes>
      <class name="E2EProject.TestingFramework.HomePage"/>
      </classes>
  </test>
   
 <!-- Test -->
</suite> <!-- Suite -->
